<!DOCTYPE HTML>
<html>
    <head>
        <title>PicPoll - Pic of the Month</title>
        <link rel="icon"
               type="image/vnd.microsoft.icon"
               href="/images/favicon.ico" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="PicPoll - Picture of the Month by eVias" />
        <meta name="keywords" content="picpoll,pictures,gallery,votes,poll,like,dislike,top picture,picture,month" />
        <noscript>
            <link rel="stylesheet" href="/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/css/skel.css" />
            <link rel="stylesheet" href="/css/style.css" />
            <link rel="stylesheet" href="/css/style-desktop.css" />
        </noscript>
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/skel-layers.min.js"></script>
        <script src="/js/init.js"></script>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body class="right-sidebar">
        <div id="header-wrapper">
            <div id="header" class="container">
                <h1 id="logo"><a href="/">PicPoll - Picture Poll</a></h1><br />
                <h1 id="logo"><a href="/">&bdquo;Hot or Not&rdquo;</a></h1>
                <p>Get your own Picture of the Month Polls App !</p>
                <nav id="nav">
                    <ul>
                        <li><a class="icon fa-home" href="/"><span>Introduction</span></a></li>
                        <li>
                            <a href="" class="icon fa-bar-chart-o"><span>Archives</span></a>
                            <ul>
                                <li><a href="#">Novembre 2015</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="main-wrapper">
            <div id="main" class="container">
                <div class="row">
                    <div id="content" class="8u">
